.bicicletas-venda {
  h1 {
    @include font-1-xxl;
    color: $C00-color-white;
  }
}

.bike {
  @include container;

  &__bicicleta-conteudo {
    p {
      @include font-2-xl;
      color: $C05-color-grey;
    }

    span {
      @include font-1-xs;
      color: $C06-color-grey;
    }
  }

  h2 {
    @include font-1-xs;
    color: $C00-color-white;
  }

  &__bicicleta-informacoes {
    h3 {
      @include font-1-m;
      color: $C00-color-white;
    }

    p {
      @include font-2-xs;
      color: $C05-color-grey;
    }
  }

  &__bicicleta-ficha {
    li {
      @include font-2-s;
      color: $C04-color-grey;

      span {
        @include font-2-s;
        color: $C04-color-grey;
      }
    }
  }
}
