/*--colors--*/
$C12-color-black: #000000;
$C11-color-black: #111111;
$C10-color-grey: #2e2e2e;
$C09-color-grey: #404040;
$C08-color-grey: #595959;
$C07-color-grey: #717171;
$C06-color-grey: #9c9c9c;
$C05-color-grey: #b2b2b2;
$C04-color-grey: #cccccc;
$C03-color-grey: #dedede;
$C02-color-white: #ededed;
$C01-color-white: #f7f7f7;
$C00-color-white: #ffffff;

/*--yellow-colors--*/
$p5-color-yellow: #332200;
$p4-color-yellow: #664400;
$p3-color-yellow: #a66f00;
$p2-color-yellow: #e4a30b;
$p1-color-yellow: #ffbb00;
