@use "sass:math";

@mixin before-icon($icon, $size, $color) {
  &::before {
    display: inline-block;
    font-family: "icomoon";
    content: $icon;
    font-size: $size;
    color: $color;
    font-style: normal;
    @content;
  }
}

@mixin after-icon($icon, $size, $color) {
  &::after {
    display: inline-block;
    font-family: "icomoon";
    content: $icon;
    font-size: $size;
    color: $color;
    font-style: normal;
    @content;
  }
}

@function calculator-rem($font-size) {
  $size: math.div($font-size, 16);
  @return $size + rem;
}

$gutter: 24px;

//Systema Grid
@function grid($col, $total: 12) {
  @return ($col / $total) * 100%;
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    width: calc(#{grid($i)} - #{$gutter});
    margin: math.div($gutter, 2);
    float: left;

    @media screen and (max-width: 960px) {
      float: none;
      width: calc(100% - #{$gutter});
      margin: math.div($gutter, 2);
    }
  }
}

@mixin container {
  box-sizing: border-box;
  max-width: $container-l;
  padding-left: calculator-rem(20);
  padding-right: calculator-rem(20);
  margin-left: auto;
  margin-right: auto;
}

@mixin botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: calculator-rem(4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  text-transform: uppercase;
  color: #332200;
  font-size: calculator-rem(18);
  line-height: calculator-rem(21);
  font-family: "poppins", sans-serif;
  font-weight: 600;

  .botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
  }
}

@mixin link {
  display: inline-block;
  color: $p1-color-yellow;
  font-weight: 500;
  font-size: calculator-rem(24);
  line-height: calculator-rem(24);
  font-family: "poppins", sans-serif;
  text-decoration: underline;
  text-transform: uppercase;

  .link::after {
    content: "";
    display: block;
    width: 100%;
    height: calculator-rem(4);
    background-color: currentColor;
  }

  &:hover {
    color: #ffffff;
  }
}
