.lojas {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: calculator-rem(120);
  padding-bottom: calculator-rem(120);

  h2 {
    @include font-1-xxl;
    grid-column: 1/-1;

    span {
      color: $p1-color-yellow;
    }
  }

  &__localizacao {
    img {
      border-radius: 4px 4px 0 0;
    }
  }

  &__conteudo {
    background-color: $C00-color-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
    padding: calculator-rem(32);

    h3 {
      grid-column: 1/-1;
      @include font-1-xl;
    }
  }

  &__endereco {
    display: grid;
    gap: calculator-rem(8);
    @include font-2-s;
    color: $C08-color-grey;
    border-radius: calculator-rem(4);
    border-left: 2px solid $C02-color-white;
    padding-left: calculator-rem(12);

    p {
      @include font-2-s;
      color: $C08-color-grey;
    }
  }
}

.lojas-tempo {
  grid-column: 1/-1;
  @include font-1-s;
  color: $C08-color-grey;
  display: flex;
  align-items: center;
  gap: calculator-rem(8);
}

@media (max-width: 1145px) {
  .lojas {
    gap: calculator-rem(20);
    padding-top: calculator-rem(60);
    padding-bottom: calculator-rem(60);

    h2 {
      margin-bottom: calculator-rem(32);
    }

    &__conteudo {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}
