#orcamento {
  background: linear-gradient(#111111 600px, #f7f7f7 0px);
}

.orcamento {
  @include container;
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: calculator-rem(120);

  h2 {
    @include font-1-xs;
    color: $C05-color-grey;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: calculator-rem(4);
      height: calculator-rem(8);
      background-color: $p1-color-yellow;
      position: absolute;
      left: -12px;
    }
  }

  &__produto {
    padding: calculator-rem(60);
    border-radius: 5px 0 0 5px;
    background-color: $C12-color-black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;

    label {
      color: $C04-color-grey;
      border-radius: 4px;
      font-weight: 400;
      font-size: calculator-rem(16);
      line-height: 1.5;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      background-color: $C10-color-grey;
      padding: 12px 16px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      border: 1px solid $C10-color-grey;

      &::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        border: 1px solid $C06-color-grey;
        border-radius: 50%;
        margin-right: 8px;
      }

      span {
        color: $C04-color-grey;
        border-radius: 4px;
        font-weight: 400;
        font-size: calculator-rem(16);
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        display: grid;
        grid-column: auto;
        display: none;
      }
    }

    * {
      grid-column: 1/-1;
    }

    label {
      grid-column: initial;
    }

    label:hover {
      background-color: $C09-color-grey;
      border-color: $C09-color-grey;
    }

    input:checked + label {
      background-color: $C00-color-white;
      color: $C12-color-black;

      &::before {
        border-color: $C07-color-grey;
        box-shadow: inset 0 0 0 3px $C00-color-white,
          inset 0 0 0 6px $C07-color-grey;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }

    input:checked + label span {
      display: inline-block;
      color: $C12-color-black;
    }

    input:focus + label {
      background-color: $C09-color-grey;
      box-shadow: 0 0 0 2px $p1-color-yellow;
      border-color: $C12-color-black;
    }

    input:checked + label + .orcamento__detalhes {
      display: grid;
    }
  }

  &__detalhes {
    display: none;
    background-color: $C00-color-white;
    padding: 20px;

    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;

    ul {
      box-sizing: border-box;
      grid-column: 1;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        img {
          display: inline-block;
          width: 16px;
          margin-right: 8px;
        }
      }
    }

    img {
      grid-column: 2;
    }
  }

  &__conteudo {
    @include font-1-xs;
    color: $C05-color-grey;
    display: none;

    h2 {
      @include font-1-xs;
      color: $C05-color-grey;
      margin-top: 20px;
    }
  }

  &__dados {
    padding: calculator-rem(60);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 0 5px;
    background-color: $C00-color-white;

    h2 {
      @include font-1-xs;
      color: $C09-color-grey;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  label {
    display: block;
    font-size: calculator-rem(16);
    font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins" sans-serif;
    margin-bottom: calculator-rem(4px);
  }

  .estilo-input-textarea {
    font-size: calculator-rem(16);
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background-color: $C01-color-white;
    border: 1px solid $C02-color-white;
  }
}

/* ou #bikcraft:checked + label + input + label + #orcamento-bikcraft, */

#bikcraft:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

#seguro:checked ~ #orcamento-bikcraft {
  display: grid;
  gap: 20px;
}

@media (max-width: 1200px) {
  .orcamento {
    &__produtos {
      padding: 32px;
    }

    &__dados {
      padding: 32px;
    }
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;

    &__produtos {
      border-radius: 5px 5px 0 0;
    }
    &__dados {
      border-radius: 0 0 5px 5px;
    }
  }
}

@media (max-width: 400px) {
  .orcamento {
    &__produtos {
      grid-template-columns: 1fr;

      label {
        grid-template-columns: 1fr;
      }
    }

    &__dados {
      grid-template-columns: 1fr;
    }
  }
}
