.bicicletas-bg {
  background-image: linear-gradient(to right, #ffffff 30%, #111111 0%);
}

.bicicletas {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calculator-rem(40);
  padding-top: calculator-rem(60);
  padding-bottom: calculator-rem(60);
  align-content: start;

  &__imagem {
    display: grid;

    img {
      grid-area: 1/1;
    }

    span {
      @include font-2-m;
      font-size: calculator-rem(18);
      color: $C00-color-white;
      background-color: $C12-color-black;
      padding: calculator-rem(8);
      display: inline-block;
      grid-area: 1/1;
      place-self: start end;
      margin-top: calculator-rem(20);
      border-radius: 4px 0 0 4px;
    }
  }

  &__conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;

    h2 {
      @include font-1-xl;
      grid-column: 1/-1;
      margin-bottom: calculator-rem(20);
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 12px;
        height: 8px;
        background-color: $p1-color-yellow;
        position: absolute;
        top: -16px;
        left: -16px;
      }
    }

    p {
      @include font-2-s;
      font-size: calculator-rem(18);
      line-height: 1.5rem;
      color: $C08-color-grey;
      grid-column: 1/-1;
      margin-bottom: calculator-rem(32);
    }

    a {
      place-self: end;
    }

    &--itens {
      @include font-1-m;
      color: $C08-color-grey;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        img {
          width: 24px;
        }
      }
    }
  }
}

.bicicleta-titulo-meio {
  color: $C00-color-white;
}

.bicicleta-paragrafo-meio {
  color: $C05-color-grey;
}

.bicicleta-li-meio {
  color: $C05-color-grey;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background-image: linear-gradient(to right, #111111 30%, #111111 0%);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    gap: calculator-rem(20);
    padding-top: calculator-rem(40);
    padding-bottom: calculator-rem(40);

    &__conteudo {
      a {
        place-self: start;
      }
    }
  }
}

@media (max-width: 600px) {
  .bicicletas {
    &__conteudo {
      grid-template-columns: 1fr;

      h2 {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      &--itens {
        margin-bottom: 32px;
        grid-template-columns: 1fr 1fr;

        li {
          font-size: 1rem;

          a {
            place-self: start;
          }
        }
      }
    }
  }
}
