.introducao {
  @include container;
  background: $C12-color-black;
  box-shadow: inset 0 -120px $C00-color-white;

  &__conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;

    color: $C00-color-white;

    &--info {
      align-self: flex-end;
      padding-bottom: calculator-rem(200);

      h1 {
        margin-bottom: calculator-rem(32);
        color: $C00-color-white;
        @include font-1-xxl;

        span {
          color: $p1-color-yellow;
        }
      }

      p {
        margin-bottom: calculator-rem(20);
        color: $C05-color-grey;
        @include font-2-l;
      }
    }
  }

  &__img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: calculator-rem(4);
    }
  }
}

@media (max-width: 1200px) {
  .introducao {
    &__conteudo {
      &--info {
        h1 {
          font-size: calculator-rem(48);
        }

        p {
          font-size: calculator-rem(18);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .introducao {
    background-color: $C11-color-black;
    padding-top: calculator-rem(40);
    box-shadow: inset 0 -60px $C00-color-white;

    &__conteudo {
      grid-template-columns: 1fr;
      gap: calculator-rem(32);

      &--info {
        padding-bottom: calculator-rem(0);

        h1 {
          font-size: calculator-rem(32);
          margin-bottom: calculator-rem(16);
        }
      }
    }

    &__img {
      img {
        height: calculator-rem(300);
        width: 100%;
      }
    }
  }
}
